@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #0099a8;
}

.wrapper {
  background-color: #fff;
  width: 400px;
  border-radius: 7px;
}

.wrapper header {
  padding: 15px 15px;
  border-bottom: 1px solid #bfbfbf;
  display: flex;
  align-items: center;
  width: 100%;
}

.appName {
  font-size: 21px;
  color: #0099a8;
  font-weight: bolder;
}

header i {
  margin-right: 8px;
  cursor: pointer;
  font-size: 0px;
}

.wrapper.active header i {
  font-size: 30px;
  margin-left: 5px;
}

.wrapper .input-part {
  /* display: none; */
  margin: 20px 25px 30px;
}

.wrapper.active .input-part {
  display: none;
}

.input-part button {
  width: 100%;
  height: 55px;
  border: non;
  outline: none;
  border-radius: 4px;
  font-size: 18px;
}

.input-part input {
  text-align: center;
  border: 1px solid #bfbfbf;
  width: auto;
  height: 55px;
  border: non;
  outline: none;
  border-radius: 4px;
  font-size: 18px;
}

.erroNoInput {
  display: none;
  text-align: center;
  justify-content: center;
  font-size: 18px;
  font-weight: bolder;
  margin-top: 8px;
}

.erroNoInput.error1 {
  color: #721c24;
  display: flex;
}
.searchBtn {
  display: block;
  margin: auto;
  width: 80px !important;
}

.searchBtn i {
  width: 100%;
}

.searchInput {
  display: flex;
  justify-content: space-between;
}

.input-part input:is(:focus, :valid) {
  border: 2px solid #0099a8;
}

.info-txt {
  font-size: 17px;
  text-align: center;
  padding: 12px 10px;
  border-radius: 7px;
  margin-bottom: 15px;
}

.info-txt.error {
  color: #721c24;
  background: #f8d7da;
  border: 1px solid #f5c6cb;
}

.info-txt.pending {
  color: #0c5460;
  background: #d1ecf1;
  border: 1px solid #bee5e5;
}

.input-part .separator {
  height: 1px;
  width: 100%;
  background-color: #ccc;
  margin: 25px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.separator::before {
  content: "or";
  color: #ccc;
  padding: 0 15px;
  font-size: 19px;
  background: #fff;
}

.input-part button {
  color: #fff;
  cursor: pointer;
  background-color: #0099a8;
}

.wrapper .weather-part {
  margin: 30px 0 0;
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.wrapper.active .weather-part {
  display: flex;
}

.weather-part img {
  max-width: 125px;
}

.weather-part .temp {
  display: flex;
  font-size: 72px;
  font-weight: 500;
}

.weather-part .temp .numd {
  font-weight: 600;
}

.weather-part .tem .deg {
  font-size: 40px;
  margin: 10px 50px 0 0;
  display: block;
}

.weather-part .location {
  font-size: 21px;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.weather-part .weather {
  font-size: 21px;
  text-align: center;
  margin: -5px 20px 15px;
}

.location i {
  font-size: 22px;
  margin-right: 5px;
}

.weather-part .bottom-details {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #bfbfbf;
}

.bottom-details .column {
  width: 100%;
  padding: 15px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.column i {
  font-size: 40px;
  color: #0099a8;
}

.column.humidity {
  border-left: 1px solid #bfbfbf;
}

.details .temp,
.humidity span {
  font-size: 18px;
  font-weight: 500;
  margin-top: -3px;
}

.details .temp .deg {
  margin: 0;
  font-size: 17px;
  pad: 0 2px 0 1px;
}

.details p {
  font-size: 14px;
  margin-top: -6px;
}
